services:
  opatrimoine-db:
    image: mariadb:10.6
    container_name: opatrimoine-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - db_data:/var/lib/mysql
      - ./opatrimoine.sql:/opatrimoine.sql
    healthcheck:
      test: ['CMD', 'healthcheck.sh', '--connect', '--innodb_initialized']
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s
    networks:
      - proxy_default

  opatrimoine-wp:
    build:
      context: .
      dockerfile: ./docker/wordpress/Dockerfile
    container_name: opatrimoine-wp
    restart: unless-stopped
    ports:
      - '8090:80'
    environment:
      WORDPRESS_DB_HOST: opatrimoine-db
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_TABLE_PREFIX: ${WP_TABLE_PREFIX}
      VIRTUAL_HOST: opatrimoine.test
      LETSENCRYPT_HOST: opatrimoine.test
      LETSENCRYPT_EMAIL: aurelien.genois@gmail.com
      CLIENT_MAX_BODY_SIZE: 512m
      WP_ENV: ${WP_ENV}
      WP_HOME: ${WP_HOME}
      WP_THEME: ${WP_THEME}
    volumes:
      # Mount your theme for live development
      - ./themes/opatrimoine:/var/www/html/wp/wp-content/themes/opatrimoine
      # Persist uploads/media
      - wp_data:/var/www/html/wp/wp-content/uploads
      - ./php.ini:/usr/local/etc/php/conf.d/uploads.ini
    depends_on:
      opatrimoine-db:
        condition: service_healthy
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost/wp/wp-login.php']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - proxy_default

  opatrimoine-node:
    build:
      context: .
      dockerfile: ./docker/node/Dockerfile
    container_name: opatrimoine-node
    ports:
      - 8089:8089 # Port pour webpack
      - 3000:3000 # Port pour BrowserSync
    volumes:
      - .:/app
    command: >
      sh -c "if [ \"$WP_ENV\" = \"production\" ]; then npm run build; else npm run dev; fi"
    environment:
      - WP_ENV=${WP_ENV}
    depends_on:
      - opatrimoine-wp
    networks:
      - proxy_default

volumes:
  db_data:
  wp_data:

networks:
  proxy_default:
    external: true
