html {
    @apply text-main;
}
body {
    @apply grid grid-cols-1 grid-rows-[auto_1fr_auto] min-h-screen;
}
section {
    @apply mb-4 md:mb-8;
    p {
        // @apply mb-2 md:mb-4;
    }
    .link {
        @apply text-second hover:text-fourth hover:underline visited:text-third;
    }
    .titles {
        @apply text-second sm:text-lg md:text-xl lg:text-2xl font-bold mb-2 md:mb-4;
    }
}

.bg-third {
    svg path {
        fill: white;
        stroke: white;
    }
}

.constraint-icon {
    height: 20px;
    width: 20px;
    svg,
    img {
        height: inherit;
        width: inherit;
    }
}
