.btn {
    @apply bg-second
        text-white
        font-bold
        px-2 py-1
        rounded-lg
        text-sm
        cursor-pointer
        w-fit

        hover:bg-fourth
        hover:text-white

        md:text-base;
}

input[type="submit"] {
    @extend .btn;
}
.btn-small,
input[type="submit"].btn-small {
    @apply text-xs;
}

.btn-third,
input[type="submit"].btn-third {
    @apply bg-third hover:bg-second;
}

.btn-white,
input[type="submit"].btn-white {
    @apply bg-white hover:bg-second
        text-second hover:text-white;
}
