#btnMenu {
    @apply h-8 w-8
        flex lg:hidden
        flex-col justify-between
        cursor-pointer;

    span {
        @apply w-full h-1
        bg-second;
    }
}

#deskMenu {
    background-color: salmon; 
    color: white; 
    .header__menu {
        & > ul {
            @apply flex justify-between;
            transform: translateX(0) !important;

            & > li {
                @apply text-center;
                &:hover {
                    .sub-menu {
                        @apply block;
                    }
                }
            }

            .sub-menu {
                @apply hidden
                    min-w-[180px]
                    absolute z-30
                    overflow-hidden
                    bg-third
                    normal-case
                    py-4 px-2;
            }
        }
    }
}

#navMenu {
    @apply w-[320px] max-w-full
        py-4 pr-4 pl-8
        fixed right-0 inset-y-0 z-50
        bg-second
        transform translate-x-full transition-all duration-300 ease-in-out;

    &.open {
        @apply translate-x-0;
    }

    #mobileMenu {
        .header__menu {
            @apply pr-10
                relative
                transform transition-all duration-300 ease-in-out;

            ul {
                & > li {
                    @apply text-left;
                    a {
                        @apply text-white hover:underline;
                    }
                    &.menu-item-has-children {
                        @apply relative;
                        & > a {
                            @apply relative;
                        }
                        & > p {
                            @apply content-['>']
                                cursor-pointer
                                flex justify-center items-center
                                h-5 w-5
                                hover:border hover:rounded-3xl hover:border-white
                                font-bold
                                absolute top-1/2 -translate-y-1/2 right-[20%];
                        }
                    }
                }
                .sub-menu {
                    @apply w-full
                        absolute top-0 left-0
                        hidden

                        transition-all duration-300 ease-in-out transform translate-x-[120%];

                    &.open {
                        @apply translate-x-0;
                    }
                }
            }
        }
    }
}
